.container-center {
    display: flex;
    justify-content: center;
    text-align: center;
}
.ads-container {
    display: flex;
    max-width: 1230px;
}
.auto-slider-container {

}
.header-others-ads {
    margin-left: 50px;
}