*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body, .off-canvas-pusher{
    overflow-x: hidden;
}
html{
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;


}
body{
    font-family:nunito-sans, sans-serif, Helvetica, Arial;
    color: #333333;
    font-size: 14px;
    font-weight: 400px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    display: block;
    line-height: 1.428571429;
    background: #e8e8e8;
}
.off-canvas-pusher{
    width: 100%;
       
}
.section{
    display: block;
}
.page{
    min-height: 100vh;
}
#wrapper{
    background: transparent!important;
}
#header{
    z-index: 1000;
    background-color: #fff;
    margin-bottom: 5px;

}
.header{
    margin: 0 auto;
    position: relative;
}
.top-banner-block{
    text-align: center;
}
a{
    color: #646464;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;

}
.fhs_header_mobile{
    display: none;
    background-color: #C92127;
    height: 93.4px;
}
.fhs_header_desktop > .container{
    padding-left: 0!important;
    padding-right: 0!important;

}
.container{
    /*background-color: #F0F0F0;*/
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    display: table;
    content: " ";
    padding-right: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

   
}
@media (min-width: 768px){
.container {
    width: 750px;
}
.col-main{
    width: 100%;
}
.child-banner{
    width: 50%;
    float: left;
}
.toolbar{
    overflow: hidden; 
    margin: 0 0 0px;
    position: relative;
    background: #2d2d2d;
    padding: 13px 15px;
    width: 100%;
    float: left;
}
.sorter{
    width: 33.33333333333333%;
    float: left;
}
.pager{
    width: 66.66666666666666%;
    float: left;
}
.bottom{
    padding: 13px 15px;
    position: relative;
}
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
    .col-main{
        float: left;
        width: 75%;
    }
    .block-item{
        width: 16.666666666666664%;
        float: left;
    }
    .child-banner{
        width: 50%;
        float: left;
    }
    .toolbar{
        width: 100%;
    }
    .sorter{
        width: 33.33333333333333%;
    }
    .pager{
        width: 66.66666666666666%;
        float: left;
    }
    .bottom{
        width: 100%;
        float: left;
    }
    .col-md-4{
        width: 33.33333333333333%;
        float: left;
    } 
}
@media(min-width:1200px){
    .container{
        width: 1230px;
    }
    .col-main{
        float: left;
        width: 75%;
    }
}
@media(min-width:1280px){
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
}




 .fhs-header-top-second-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 68px;
    flex-direction: row;

}
.fhs_header_desktop .fhs-header-top-second-bar > div:first-of-type {
    width: 220px;
    margin-bottom: 2px;
}
.icon_fahasa_logo {
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo/fahasa_logo.png) no-repeat center center;
    background-size: contain;
    width: 220px;
    height: 36px;
}
.menu{
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.icon_menu{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu.svg) no-repeat center center;
    background-size: contain;
    width: 36px;
    height: 36px;
}
.icon_seemore_gray{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon_seemore_gray.svg) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;

}
.fhs_center_left{
    width: calc(100% - 619px);
    padding: 5px 8px 0 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
.search_box{
    width: 100%;

}
.search{
    width: 100%;
    float: left;
}
.form-search{
    position: relative;
    padding: 8px 0 12px 0;
    height: inherit;
    width: 100%;
}
#search_desktop{
    height: 40px;
    padding: 0 80px 0 24px;
    border: 1px solid #CDCFD0;
    border-radius: 8px;
    font-size: 1.077em;

}
.button, input{
    width: 100%;
    line-height: 1.42857;
    background: #fff;
    color: #545759;
}
.button-search{
    position: absolute;
    top: calc(50% - 2px);
    right: 4px;
    transform: translate(0, -50%);
    font-weight: normal;
    font-size: 21px;
    z-index: 3;
    width: 72px;
    height: 30px;
}
.fhs_btn_default{
    color: #fff;
    background-color: #C92127;
    border: 2px solid #C92127;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
.ico_search_white{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_search_white.svg)no-repeat center center;
    background-size: contain;
    height: 20px;
    width: 20px;
    fill: #fff;
}
.fhs_center_space{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.fhs_dropdown_hover{
    margin-top: 20px;
    padding-bottom: 14px;
    position: relative;
}
.fhs_center_center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.icon_nofi_gray{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_noti_gray.svg) no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
}
.fhs_top_center{
    display: flex;
    justify-content: center;
    text-align: center;

}
.top_menu_label{
    line-height: 18px;
    color: #7A7E7F;
    font-size: 12px;

}
.heading-custom{
    display: flex;
    flex-direction: column;

}
.heading-custom div{
    text-align: center;

}
.icon_cart_gray{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_cart_gray.svg) no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;

}
.account{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fhs_top_account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.icon_account_gray{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg) no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
}
.fhs_top_lang{
    margin-top: 22px;
    padding-bottom: 16px;

}
.fhs_top_lag_btn{
    padding: 8px;
    height: 40px;
    border: 1px solid #CDCFD0;
    border-radius: 8px;
}
.icon_default{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg) no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 37px;

}
.icon_seemore_gray{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon_seemore_gray.svg) no-repeat center center;
    background-size: contain;
    height: 16px;
    width: 16px;
}
.no-margin-top{
    margin-top: 0px;
}
.main{
    margin: 0 auto;
    min-height: 320px;
    padding: 0px;
    text-align: left;
}
.container-inner{
    padding: 5px 0;
    background: transparent;
    font-size: 12px;
    font-family: "Poppins",sans-serif;
}
.breadcrumb{
    background: transparent!important;
    display: inline-block;
    padding:0px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}
.main .container .container-inner{
    padding: 10px 0;
    padding-top: 0px;
}
@media(max-width:992px){
    .fhs_header_mobile{
        display: block !important;
    }
    a .logo{
        float: none;

    }
    .fhs_header_desktop{
        display: none;
    }
    .toolbar-header{
        background-color: white;
        height: 40px;
    }
}
@media(max-width:767px){
    .pt{
        width: 50%;
        float: left;
    }
    .hidden-xs{
        display: none !important;
    }
    a .logo{
        display: inline;
        margin: 10px 0;

    }
}
@media(max-width:480px){
    .col-md-4{
        width: 100%;

    }
}

@media(min-width:768px){
    .col-left{
        width: 100%;
        float: left;
    }
    .kb{
        width:50%;
        float: left;
    }
    .col-md-4{
        width:50%;
        float: left;
    }
    .col-sm-12{
        width: 100%;
        float: left;
    }

}
@media(min-width:992px){
    .col-left{
        width: 25%;
    }
    .address-footer{
        width: 100%;
        float:left
    }
    .kb{
        width:50%;
        float: left;
    }
    .col-md-8{
        width: 66.66666666666666%;
        float: left;
    }
    .col-md-4{
        width: 33.33333333333333%;
        float: left;
    }
    .col-sm-12{
        width: 100%;
        float: left;
    }
}
@media(min-width:1200px){
    .col-left{
        width: 25%;
        float: left;
    }
}
.col-left{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}
.mb-left .block-content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.currently{
    padding: 5px 10px 5px 0;
    margin-top: -30px;
}
dl{
    margin-top: 0px;
    margin-bottom: 20px;
}
.block-content dl{
    position: relative;
    zoom: 1;
    left: 0;
    top: 0;
}
.block-content dt{
    position: relative;
    zoom: 1;
    left: 0;
    top: 0;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 100%;
    padding: 10px 0;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.narrow-by-list dd{
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #f6f6f6;
}
dt,dd{
    line-height: 1.428571429;
    display: block;
    
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
 ol li{
    margin-left: 0px;
    color: #333;
    line-height: 22px;
    margin: 0 0 7px 10px;
    text-align: left;
    width: 100%;
    position: relative;
}
#current-category{
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #f7921f;
    font-family: sans-serif;
}
.filter-item{
    color: #F7941E;
    font-weight: bold;
    font-size: 14px;
}
.child-category{
    margin-left: 10px;
    height: 241px;
    overflow: hidden;
    padding-top: 1px;
}
 .child-category li{
    color: #333;
    line-height: 22px;
    margin: 0 0 7px 10px;
    text-align: left;
    width: 100%;
    position: relative;
}
.child-category li a{
    color: #666;
    padding: 0;
    display: inline;
}
.m-more-less{
    font-size: 11px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-show-more-action{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_morong.png) no-repeat right;
    color: #F7941E;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
    padding-right: 20px;
}
.css-checkboxes li{
    padding-left: 20px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/manapro_filtercheckboxes/ico_uncheck.png) 0 50% no-repeat;
}
.col-main,.child-banner{
    background-color: white;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.mb-content{
    padding-top: 15px;   
}
.block-item{
    padding: 0!important;
    margin-right: 10px;
}
.banner-home-inner{
    margin-bottom: 0px;
    margin-top: 16px;
    text-align: center;
    overflow: hidden;
}
img{
    max-width: 100%;
    order: 0;
    vertical-align: top;
    height: auto;
}
.category-product{
    background-color: white;
    flex-direction: column;
    display: flex;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.toolbar{
    padding-top: 15px;
    border-bottom: 1px solid #ecebeb;
    padding-left: 0px;
    background: white !important;
    min-height: 50px;
}
.toolbar .sorter{
    padding-left: 20px;
    padding-top: 2px;
    float: left;
    padding-right: 15px;
    position: relative;
}
p{
    margin: 0 0 10px;
}
.toolbar-top{
    margin-left: 10px;
    margin-right: 10px;
}
.sort-by{
    padding: 0;
    display: block;
    float: left;
    margin: 0;
    font-size: 12px;
    flex: 2;
    height: 40px;
    width: 100%;
}
.selectbox{
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: left;
    line-height: 30px;
    clear: both;
    color: #444;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.selectbox option{
    display: block;
    line-height: 20px;
    padding: 5px ;
    color: #444;
    margin-bottom: 5px;
}
.selectbox option:hover{
    background-color:blueviolet;
}
.pager{
    padding-right: 15px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    padding: 0;
}
.product-grid > li{
    position: relative;
    font-size: 0.8em;
}
.label-pro-sale{
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
    font-size: 19px;
    font-weight: bold;
    color: transparent;
}
.p-sale-label{
    font-weight: bold;
    color: #ffffff;
    font-size: 0.9em;
}
.ma-box-content{
    padding: 0.8em;

}
.clearfix{
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clearfix img{
    max-height: 190px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
.name{
    line-height: 17px;
    overflow: hidden;
    min-height: 8px;
    font-size: 18px;
}
.name a{
    padding-top: 0px !important;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2.8em;
    max-height: 2.8em;
    font-size: 0.78em;
    color: #333333;
    font-weight: normal;
}
.price-label{
    height: 3rem;
    position: relative;
    margin-top: 4px;
    font-size: 0.8em;

}
.price{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.special-price{
    margin: 0px;
    background-color: transparent !important;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    padding: 0 1px;
    color: #fff;

}
.price-price{
    line-height: 15px;
    font-size: 15px !important;
    color: #C92127;
    font-weight: 600;
    min-height: 25px;
}
.old-price{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    padding: 1px !important;
}
.old-price > .price{
    color: #999999;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 400 !important;
    padding: 0;
    
}
.rating{
    min-height: 15px;
    margin-top: 4px;
}
.ratings{
    display: flex;
    font-size: 11px;
    margin: 0;
    margin-top: -2px;
    align-items: center;
}
.rating-box{
    width: 80px;
    height: 16px;
    float: left;
    margin-right: 3px;
    margin-left: 0px;
    background-size: 16px 16px;
    
    position: relative;
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_gray.svg) repeat-x;
}
.amount{
    color: #F6A500 !important;
    font-size: 14px;
    font-weight: 500;
}
.bottom{
    margin: 0;
    padding-left: 0px;
    background: white !important;
    min-height: 50px;
}
.thao ,.thao1{
    padding: 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    line-height: 40px;
    color: black;
    cursor: pointer;
      width: auto;
    font-size: 15px;
    line-height: 30px;
    margin: 0 2px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.icon{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/ma_vanesa2/images/right_orange.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 15px;
}
.thao1:hover{
    background: #FCDAB0;
    border-radius: 5px;
}.thao1>a,.thao>a{
    color: black;
}
.col-md-4,.address-footer,.kb,.col-md-8,.col-md-4,.col-sm-12,.hi{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.ma-footer-static .container  .container-inner{
    padding-top: 40px;
    padding-bottom: 25px;

}
.footer-static-title{
    border-color: gray;
    color: black;
    padding-bottom: 0px;
    padding-left: 10px;
}
.footer-static-title h3{
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.footer-static-content ul li{
    border-color: gray;
    color: black;
}
.footer-static-content ul li a{
    line-height: 35px;
    padding-left: 10px;
    color: black;
    font-size: 13px;
}
em:before{
    content: "\f041";
}
.kb{
    width: 50%;
    float: left;
}
.hi{
    width: 100%;
    float: left;
}
.hidden-xs{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    height: 80px;
    margin-right: 16px;
    float: left;
}

.hidden-xs div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thao div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fhs_header_mobile{
    display: none;
    background-color: #C92127;
    height: 93.4px;
}
.fhs_header_mobile .fhs-header-top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 4px 5px 4px;
}
.fhs-header-top-bar>.fhs_center_center{
    text-align: center;
    width: 40px;
}
.ico_menu_white{
    background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu_white.svg) no-repeat center center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
.fhs-header-top-bar > .search-mobile-header{
    width: calc(100% - 104px);
  
}
.ves-autosearch{
    margin-left: 0;
    min-height: 46px;
    position: relative;
}
.search_box .pull-left{
    width: 100%;
    height: 40px;
    position: relative;
    float: left;
}
.form-search input{
    height: 33px;
    border: 1px solid #C92127;
    font-size: 1.077em;
}
.icons-mobile-header{
    position: relative;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mini_cart_block{
    padding: 0 3px;
}
.icon_cart_white{
    background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_shopping_cart_white.svg) no-repeat center center;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: relative;
}
.login-customer-icon{
    width: 30px;
    height: 35px;
    background: url(	https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_thongtintk.svg) no-repeat center center;
    background-size: 20px;
}

